<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" routerLink="">AuctionHouse</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="shop" routerLinkActive="active-link">Shops</a>
        </li>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
              The auctions
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#upcoming">Upcoming auctions</a>
              <a class="dropdown-item" href="#Bet">Bet now</a>
              <a class="dropdown-item" href="#">Auction results</a>
              <a class="dropdown-item" href="#">Future auctions</a>
              <a class="dropdown-item" href="#">Auction houses</a>
            </div>
          </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-expanded="false">
            Menu
          </a>
          <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" routerLink="about" routerLinkActive="active-link">About</a>
            <a class="dropdown-item" routerLink="contact" routerLinkActive="active-link">Contact</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="signup" routerLinkActive="active-link">SignUp</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="login" routerLinkActive="active-link">Login</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="cart" routerLinkActive="active-link"><i class="fas fa-shopping-cart"></i></a>
        </li>
      </ul>
    </div>
  </nav>