    <h1 align="center">Creating an account</h1>
  <form name="myForm" align="center">
  <div>
      First name <br>
      <input type="text" name="Fname" placeholder="Enter First Name"> <br>
  </div>
  <div>
      Last name <br>
      <input type="text" name="Lname"placeholder="Enter last name"> <br>
  </div>
  <div>
      Email <br>
      <input type="email" name="email" placeholder="Enter email"> <br>
  </div>
  <div>
      Password <br>
      <input type="password" name="Pass" placeholder="Enter password"> <br>
  </div>
  <div>
      Confirm password <br>
      <input type="password" name="Pass" placeholder="Repeat your password"> <br>
  </div>
  <div>
      <input type="checkbox" required>I'm atleast 18 years old <br>
      <input type="checkbox" required>I accept the terms of service
  </div>
  <div>
      <input type="submit" value="Sign Up">
  </div>
</form>