    <div class="content">
      <h1>You can find everything <br> you need at <span style="color: var(--primary-color);font-weight:bold;"> AuctionHouse</span></h1>
    </div>

    <div class="container mb-5 mt-5">
        <h1 class="text-center" id="upcoming">Upcoming Auction</h1>
        <div class="row">
            <div class="col-lg-4">
                <div class="stepBox">
                    <img src="../../../assets/img/Crown.jpg" width="300px">
                    <p>Katherine Henckel's Crown</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stepBox">
                    <img src="../../../assets/img/Baseball-Card.jpg" width="250px">
                <p>Mark Zukerberg's Baseball Card</p>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="stepBox">
                    <img src="../../../assets/img/Space-Capsule.jpg" width="200px">
                <p>Space Capsule</p>
                </div>
            </div>
        </div>
    </div>

    <!-- Shops -->
    <div class="container mb-5 mt-5">
        <h1 class="text-center" id="Bet">Bet now</h1>
    <div class="row">
    <div class="col-lg-4">
        <div class="stepBox">
            <img src="../../../assets/img/chén Đài Loan.jpg" width="200px">
            <h3>Chén Đài Loan</h3>
            <p></p>
            <h6>$100.00</h6>
            <button class="buy-1">Place bet</button>
        </div>
    </div>
        <div class="col-lg-4">
        <div class="stepBox">
            <img src="../../../assets/img/di-lac-ngoc-bich-vip-3-ok.jpg" width="200px">
            <h3>Tượng Phật</h3>
            <p></p>
            <h6>$200.00</h6>
            <button class="buy-2">Place bet</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="stepBox">
            <img src="../../../assets/img/ly samurai Nhật Bản.jpg" width="200px" height="200px">
            <h3>Ly samurai Nhật Bản</h3>
            <p></p>
            <h6>$50.00</h6>
            <button class="buy-3">Place bet</button>
        </div>
    </div>
    <div class="col-lg-4">
        <div class="stepBox">
            <img src="../../../assets/img/mặt dây chuyền rồng đỏ Trung Quốc.jpg" width="200px">
            <h3>Dây chuyền rồng</h3>
            <p></p>
            <h6>$500.00</h6>
            <button class="buy-4">Place bet</button>
        </div>
    </div>
</div>
</div>