/* You can add global styles to this file, and also import other style files */
*{
    padding:0;
    margin:0;
}
:root{
    --primary-color:#b81d1d;
    --secondary-color:#333;
}
body
{
    height: 100vh;
font-family:"Audiowide",sans-serif;
}